# GIT
.git
.env

# APP Files
node_modules
.grunt
build/Release
npm-debug.log
.DS_Store
# Lock files should normally be committed for applications.
bkp
*.bkp
tmp
temp
database/*
!db/
db/*
!db/README.txt
certs/
*.crt
*.key
*.pem

# Logs
logs
*.log
logs.log.*

# VS Code
.vscode

# IDE Files
/nbproject/
.idea/*

# Executables
*.exe
*.out
*.app
